@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
}

p {
  font-size: 45px;
}
#auto {
  color: #eb7f3c;
}

.btn {
  font-weight: bold;
  font-size: 22px;
  color: #124a49;
  border-color: #ef9964;
  border-width: 3px;
  transition: all 300ms ease;
  padding: 1rem;
  width: 15rem;
}

.mt {
  margin-top: 30px;
}

#subtitle {
  font-size: 25px;
  font-weight: 600;
}

#road {
  height: 120px;
  background-color: #505050;
  display: flex;
  justify-content: space-around;
}

#box {
  margin-top: 55px;
  height: 10px;
  width: 40px;
  background-color: white;
}

.image {
  width: 550px;
}
